body{
background-color: #ffffff;
}
.container{
overflow: hidden;
  width: 700px;
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  padding: 10px;
  box-shadow: 0 0 30px 2px rgb(139, 0, 139);
  position: relative;
  border-radius: 10px;
}
.formulario__input{
  display: block;
  width: 100%;
  font-size: 1.3em;
}
.formulario__input {
  padding: 20px;
  background: transparent;
  border: 5px solid rgb(176, 224, 230);
  outline: 0px;
  color: #000000;
  margin-bottom: 40px;
}
.formulario__input:focus {
  outline: 3px solid rgba(0, 210, 247, 0.8);
}
.formulario__input:focus + .formulario__label {
  margin-top: -150px;
}
.formulario__label {
  padding-left: 25px;
  position: absolute;
  width: 91%;
  color: #000000;
  margin-top: -95px;
  z-index: -20;
  transition: all 0.90s;
}
.formulario__submit {
  background: rgb(144, 238, 144);
  color: green;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}
