.bg-centro{
  background-color: rgb(55, 207, 246);
  color: #fff;
}
.bg-main{
  background-color: rgb(231, 108, 254);
}
.bg-header-card{
  background: #E76CFE;
  color: #fff;
}
.jumbo{
  background: url('../img/Web.jpg')top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1em;
  padding-top: 10em;
  padding-bottom: 3em;
}
.iconos{
  width: 120px;
  height: 120px;
  padding: 3px;
}
.iconos:hover{
  -webkit-transform:scale(1.3);
  transform: scale(1.3);
  transition: 2s;
  cursor: pointer;
}
.astro{
  width: 450px;
  height: 450px;
  filter: grayscale(100%);
  -webkit-transform:scale(1); transform: scale(1);
  transition: 2s;
}
.astro:hover{
-webkit-transform:scale(1.3); transform: scale(1.3);
transition: 2s;
filter: grayscale(0);
}
.servicios-img{
}
.servicios-img:hover{
  filder: grayscale(1)
  transition-property: filder;
  transition-duration: 2s;
}
.parallax{
  width: 100%;
  background-image: url("../img/parallax.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.counter{
  text-align: center;
  font-size: 50px;
  color: #fff;
}
.bg-card{
  background: rgba(46, 64, 83,.5)
}
.bg-card li a:hover, .bg-card li.active a{
  color: #fff;
  background: transparent;
}
.cabezera{
  width: 100%;
  height: auto;
  background: #2e4053;
  color: #fff;
  padding: 10px;
  margin: auto;

}
